<pre style="background-color:#201f1f;color:#d3d7c1">
<span style="color:#30a100;">/**</span>
<span style="color:#30a100;"> * </span><span style="color:#ad7fa8;font-style:italic;">SPDX-FileCopyrightText:</span><span style="color:#30a100;"> 2020 Christoph Cullmann </span><span style="color:#ffffff;font-weight:bold;">&lt;cullmann@kde.org&gt;</span>
<span style="color:#30a100;"> * </span><span style="color:#ad7fa8;font-style:italic;">SPDX-License-Identifier:</span><span style="color:#ad7fa8;font-style:italic;"> </span><span style="color:#ad7fa8;font-style:italic;">MIT</span>
<span style="color:#30a100;"> */</span>

<span style="color:#30a100;">// </span><span style="color:#508ed8;background-color:#1c2c3f;">BEGIN</span>
<span style="color:#ad7fa8;">#include </span><span style="color:#ad7fa8;">&lt;string&gt;</span>
<span style="color:#ad7fa8;">#include </span><span style="color:#ad7fa8;">&lt;QString&gt;</span>
<span style="color:#30a100;">// </span><span style="color:#508ed8;background-color:#1c2c3f;">END</span>

<span style="color:#30a100;">/**</span>
<span style="color:#30a100;"> * </span><span style="color:#ca9219;background-color:#451e1a;font-weight:bold;">TODO</span><span style="color:#30a100;">: improve documentation</span>
<span style="color:#30a100;"> * </span><span style="color:#ad7fa8;font-weight:bold;">@param</span><span style="color:#30a100;"> </span><span style="color:#ad7fa8;font-weight:bold;">magicArgument</span><span style="color:#30a100;"> some magic argument</span>
<span style="color:#30a100;"> * </span><span style="color:#ad7fa8;font-weight:bold;">@return</span><span style="color:#30a100;"> magic return value</span>
<span style="color:#30a100;"> */</span>
<span style="color:#508ed8;">int</span> main<span style="color:#eeeeec;">(</span><span style="color:#508ed8;">uint64_t</span> magicArgument<span style="color:#eeeeec;">)</span>
<span style="color:#eeeeec;">{</span>
    <span style="color:#ffffff;font-weight:bold;">if</span> <span style="color:#eeeeec;">(</span>magicArgument <span style="color:#eeeeec;">&gt;</span> <span style="color:#edd400;">1</span><span style="color:#eeeeec;">)</span> <span style="color:#eeeeec;">{</span>
        <span style="color:#ad7fa8;">const</span> <span style="color:#729fcf;">std::string</span><span style="color:#eeeeec;"> </span>string <span style="color:#eeeeec;">=</span> <span style="color:#edd400;">&quot;source file: </span><span style="color:#ce5c00;">\&quot;</span><span style="color:#edd400;">&quot;</span> <span style="color:#edd400;">__FILE__</span> <span style="color:#edd400;">&quot;</span><span style="color:#ce5c00;">\&quot;</span><span style="color:#edd400;">&quot;</span><span style="color:#eeeeec;">;</span>
        <span style="color:#ad7fa8;">const</span> <span style="color:#508ed8;font-weight:bold;">QString</span> qString<span style="color:#eeeeec;">(</span><span style="color:#508ed8;font-weight:bold;">QStringLiteral</span><span style="color:#eeeeec;">(</span><span style="color:#edd400;">&quot;test&quot;</span><span style="color:#eeeeec;">))</span><span style="color:#eeeeec;">;</span>
        <span style="color:#ffffff;font-weight:bold;">return</span> <span style="color:#729fcf;font-weight:bold;">qrand</span><span style="color:#eeeeec;">()</span><span style="color:#eeeeec;">;</span>
    <span style="color:#eeeeec;">}</span>

    <span style="color:#30a100;">/* </span><span style="color:#ca9219;background-color:#451e1a;font-weight:bold;">BUG</span><span style="color:#30a100;">: bogus integer constant inside next line */</span>
    <span style="color:#ad7fa8;">const</span> <span style="color:#508ed8;">double</span> g <span style="color:#eeeeec;">=</span> <span style="color:#ce5c00;">1.1e12</span> <span style="color:#eeeeec;">*</span> <span style="color:#edd400;">0b01'01'01'01</span> <span style="color:#eeeeec;">-</span> <span style="color:#edd400;">43</span><span style="color:#e85848;text-decoration:underline;">a</span> <span style="color:#eeeeec;">+</span> <span style="color:#edd400;">0x11234</span> <span style="color:#eeeeec;">*</span> <span style="color:#edd400;">0234</span><span style="color:#729fcf;">ULL</span> <span style="color:#eeeeec;">-</span> <span style="color:#ce5c00;">'c'</span> <span style="color:#eeeeec;">*</span> <span style="color:#edd400;">42</span><span style="color:#eeeeec;">;</span>
    <span style="color:#ffffff;font-weight:bold;">return</span> g <span style="color:#eeeeec;">&gt;</span> <span style="color:#ce5c00;">1.3</span><span style="color:#729fcf;">f</span><span style="color:#eeeeec;">;</span>
<span style="color:#eeeeec;">}</span>
</pre>
